<!doctype html>
<html lang="en">

  <head>
    
    <title>RailsEventApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Rails Event App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navBarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <% if user_signed_in? %>

          <li class="nav-item active">
            <% @user = current_user %>
            <a class="nav-link" href="<%= events_path(@user) %>">Upcoming Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= @user.id %>">Your Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_event_path(@user)%>">Create Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signout">Log Out</a>
          </li>

          <% end %>
          <% if !user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/signin">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div id="flash"></div>
    <%- flash.keys.each do |kind| %>
    <div class=<%= kind %>>
      <h5><%= flash[kind] %></h5>
    </div>
    <%- end %>
    </div>
    

    <%= yield %>


    <nav class="navbar fixed-bottom navbar-light bg-light">
      <a class="navbar-brand" href="#">&copy; 2019<logo> RailsEventApp</logo></a>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>

</html>

